form,
fieldset {
    .field {
        @apply mt-1
    }

    /* Reserve space for single line form validation messages */
    .field.field-reserved {
        @apply mb-7
    }

    .field.field-reserved ul:last-of-type {
        @apply -mb-6 pb-1 /* The sum has to match the value set above for field.field-reserved */
    }

    .field.field-reserved ul {
        @apply text-sm
    }

    label {
        @apply mb-2 block text-secondary-darker
    }

    .field.choice {
        @apply flex items-center
    }

    .field.choice input {
        @apply mr-4
    }

    .field.choice label {
        @apply mb-0
    }

    .field.field-error .messages {
        @apply text-red-500;
        max-width: fit-content;
    }

    legend {
        @apply text-primary text-xl mb-3
    }

    legend + br {
        @apply hidden
    }
}

fieldset ~ fieldset {
    @apply mt-8
}

:is(
    .required,
    .field-reserved
):has(
    :is(
        input,
        select,
        textarea
    )[required]
) label:after {
    content: ' \002A' / '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#dc2626' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z'/%3E%3C/svg%3E") no-repeat;
    @apply w-3 h-3 inline-block pl-3 relative -top-2
}
